<!-- All content -->
<div class="full-page">
  <div class="header-box">
    <div class="modal-box">
      {{!-- Modal block --}}
      {{>modal/nosearchmodal-block}}
      {{>delete/delete-block}}
    </div>
    {{>header/header-block}}
  </div>

  <main class="form-main">
    {{!-- Header on song page --}}
    <div class="song-artist-box">
      <h1 class="song-title-label">Title: <span class="song-title">{{dataValues.title}}</span></h1>
      <h2 class="song-artist-label">Artist: <span class="song-artist">{{dataValues.artist}}</span></h2>
    </div>
    {{!-- Song information --}}
    <div class="song-box">
      {{!-- Tempo/Key --}}
      <div class="song-info-box">
        <p class="song-info-labels">Tempo: <span class="song-info">{{dataValues.tempo}}</span></p>
        <p class="song-info-labels">Key: <span class="song-info">{{dataValues.songkey}}</span></p>
      </div>
      {{!-- Chords --}}
      <div class="song-chords-box">
        <p class="song-chords">{{{dataValues.chords}}}</p>
      </div>
    </div>
    {{!-- Lyrics --}}
    <div class="song-lyrics-box">
      <p class="song-lyrics">{{{dataValues.lyrics}}}</p>
    </div>

  </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/song.js"></script>