{{!-- Generic styling for all pages --}}
<div class="full-page">
    {{!-- Header box --}}
    <div class="header-box">
        <div class="modal-box">
            {{!-- Modal block --}}
            {{>modal/nosearchmodal-block}}
            {{>delete/delete-block}}
        </div>
        {{!-- Header block --}}
        {{>header/header-block}}
    </div>

    {{!-- Main body of the page --}}
    <main class="main-song">
        {{!-- Title --}}
        <h1 class="song-name">Update Song</h1>
        {{!-- Text --}}
        <p class="song-text"></p>Update your song here and save it to your songbook.</p>
        {{!-- Form --}}
        <form method="put" class="update-song" data-id="{{dataValues.id}}">
            {{!-- Button --}}
            <div class="button-box">
                <button class="buttons" type="submit" value="Submit">Update</button>
            </div>
            {{!-- Inputs --}}
            <div class="create-input-box">
                <label class="input-labels" for="title">Title name:</label><br>
                {{!-- Alert Msg --}}
                <div style="display: none" id="alert-title" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <input size="47.5" type="text" id="title" class="create-inputs" name="titlename" value="{{dataValues.title}}"><br>
            </div>
            <div class="create-input-box">
                <label class="input-labels" for="artist">Artist name:</label><br>
                {{!-- Alert Msg --}}
                <div style="display: none" id="alert-artist" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <input size="47.5" type="text" id="artist" class="create-inputs" name="artistname" value="{{dataValues.artist}}"><br>
            </div>
            <div class="create-input-box">
                <label class="input-labels" for="tempo">Tempo:</label><br>
                {{!-- Alert Msg --}}
                <div style="display: none" id="alert-tempo" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <input size="47.5" type="text" id="tempo" class="create-inputs" name="temponame" value="{{dataValues.tempo}}"><br>
            </div>
            <div class="create-input-box">
                <label class="input-labels" for="key">Key:</label><br>
                <input size="47.5" type="text" id="key" class="create-inputs" name="keyname" value="{{dataValues.songkey}}"><br><br>
            </div>
            <div class="chords-box">
                <label for="chords"></label><br>
                <textarea id="chords" class="create-chords tinymce" rows="25" cols="50" name="chordsname">{{{dataValues.chords}}}</textarea><br><br>
            </div>

            <div class="lyrics-box">
                <label for="lyrics"></label><br>
                <textarea id="lyrics" class="create-lyrics tinymce" rows="25" cols="50" name="lyricsname">{{{dataValues.lyrics}}}</textarea><br><br>
            </div>
        </form>
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/song.js"></script>